#sitetitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#holderpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.menucontainer {
    text-align: center;
}
#menutitle {
    display: inline-block;
    }
#holdercaption {
     text-align: center;
     }
#righticons {
text-align: right;
margin-top: -20px;
}
